.top-header a:hover{
  color:  #0F172A;
}
.navbar{
  box-shadow: 0 .5px 20px #375dda6e;
}
.logo-container img{
  width: 75px;
}
.logo{
  width: 45px;
}
.logo-title{
  color: #4A47D3;
}
nav a{
  margin-right: 20px;
  font-weight: bold;
  color: #0F172A;
  font-size: 17px;
}
nav a:hover{
  color:#4A47D3
}
.active{
  color:#4A47D3;
  text-shadow: 0 1px 16px #4A47D3;
}